body{
    background-color: rgba(255, 235, 205, 0.395);
 
}
h3{
    text-align: center;
    color: royalblue;
}

#btn{
    margin-left: 37%;
    background-color: rgba(0, 0, 255, 0.185);
    padding: 15px 30px;
    margin-top: 40px;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
}
#btn:hover{
    background-color: blueviolet;
    color: aliceblue;
}
#section{
    background-color: rgba(240, 255, 255, 0.566);
    border: 2px solid brown;
    border-radius: 40px;
    margin-top: 20px;
    margin: 20px;
    padding: 20px;
    

}